body{
    background-image: url("images/new12.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}
header{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.head{
    width:90%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    font-size: 2rem;
    font-weight: bolder;
    font-family:sans-serif;
    color:white;

}
.hero{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    
}
.time{
    width:90%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    gap:5px;
}
.timer{
    width:90%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color:rgb(19, 173, 171);
    font-weight: bold;
    
    }
.content{
    width:90%;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(198, 169, 9);
}
footer{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot{
    width:90%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    font-size: 1rem;
    font-weight: bolder;
    font-family:sans-serif;
    color:white;

}